body {
    color: #747474;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*header starts*/

.navbarbackgroung {
    background-color: rgba(0, 0, 0, 0.842);
}

.navbar-nav .nav-item {
    padding-left: 25px;
}

.navLink {
    color: white;
}

.activeLink {
    color: #F69323;
}

.navLink:hover {
    color: #F69323;
    transition: all 0.3s;
}

.headerBakground {
    background-image: url(./imgs/stage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background: radial-gradient(rgb(70, 70, 70), rgb(19, 19, 19));
    z-index: -1;
}

.headerNav {
    z-index: 1;
}

.headerBanner {
    z-index: 1;
    color: white;
    padding-top: 10%;
    padding-bottom: 5%;
}

.headerForm{
    justify-content: center;
}
.headerFormFields {
    background-color: black;
    width: 80%;
    height: 50%;
    line-height: 2em;
    padding: 5%;
    border-radius: 5px;
}

.form-control {
    background-color: black;
    color: white;
    width: 100%;
    border: 1px solid white;
}

.btnSubmit {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #f69323;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 36px;
    overflow: hidden;
    padding: 0 38px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}


/*header ends*/

/*services starts*/
.servicesContent {
    text-align: center;
    color: #696969;
}
.iimg, .macimg {
    width: 200px;
    height: 200px;
}

.box {
    align-content: center;
    margin: auto;
}

.serviceBox {
    text-align: left;
    padding: 5px;
    width: 100%;
    border: 1px solid #adadad;
}

.serviceBox td, .serviceBox th {
    border: 1px solid #adadad;
    padding: 5px;
    font-size: 14px;
    color: #696969;
}
.repairContent{
    text-align: center;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: linear-gradient(150deg,#F69323,#d47800);
}
.getBtn {
    width: 150px;
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;
}
/*services ends*/

/*whyChooseUs starts*/
.whyChooseUsContent{ 
    text-align: center;
    padding-bottom: 5%;
}

.contentbox1 {
    background: #de6724
}

.contentbox2 {
    background: #78c989;
}

.contentbox3 {
    background: #e8484a;
}

.contentbox4 {
    background: #5EA9DD
}

.contentbox5 {
    background: #AF64cc;
}

.contentbox6 {
    background: #FFB612;
}

.contentbox1, .contentbox2, .contentbox3, .contentbox4, .contentbox5, .contentbox6 {
    border-radius: 0.25em;
    padding: 1em;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    color: white;
}

.chooseIcon1 {
    background: #de6724
}

.chooseIcon2 {
    background: #78c989;
}

.chooseIcon3 {
    background: #e8484a;
}

.chooseIcon4 {
    background: #5EA9DD
}

.chooseIcon5 {
    background: #AF64cc;
}

.chooseIcon6 {
    background: #FFB612;
}
.chooseIcon1, .chooseIcon2, .chooseIcon3, .chooseIcon4, .chooseIcon5, .chooseIcon6 {
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
}

.chooseIcon1 i, .chooseIcon2 i, .chooseIcon3 i, .chooseIcon4 i, .chooseIcon5 i, .chooseIcon6 i {
    font-size: 28px;
    padding-top: 28%;
    text-align: center;
}
.line{
    width: 5px;
    height: 850px;
    margin-top: 11%;
    margin-left: 36.35%;
    background-color: rgb(219, 219, 219);
    z-index: -1;
    position: absolute;
}

/*whyChooseUs ends*/

/*work starts*/
.work{
    width: 100%;
    height: 600px;
}
.workBackground{
    width: 100%;
    margin: 90px 0;
    background: url(./imgs/theme-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 620px;
    position: absolute;    z-index: -1;
    opacity: 0.5;
}
.workbox{
    padding-top: 10%;
}
.card{
    text-align: center;
}
.workbox img{
    max-width: 90%;
    vertical-align: middle;
    width: 70%;
    height: 98%;
}
.cardIcon{justify-content: center;}
.cardIcon img{
    width: 30px;
    height: 30px;
}
/*work ends*/

/*faq starts*/
.faq{
    width: 100%;
    height: 300px;
    margin-top: 10%;
    margin-bottom: 20%;
}
.expandLine{
    width: 2px;
    height: 350px;
background: #F69323;
z-index: -1;
    position: absolute;
}
.expandIcon{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: radial-gradient(#F69323,#faa340ce);
    position: absolute;
    margin-left: -7px;
    margin-top: 5px;
}
.faq i{
   color: #F69323; 
}
.faqTestimonial{
    align-items: center;
}
.testimonialImg1 img,.testimonialImg3 img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #f69423d7;
}
.testimonialImg1,.testimonialImg3{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #f69423d7;
}
.testimonialImg2 img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.heartIcon i{
     animation: 1s infinite beatHeart;
}


@keyframes beatHeart {
0% {
-webkit-transform: scale(1);
    transform: scale(1);
}
25% {
-webkit-transform: scale(1.1);
    transform: scale(1.1);
}
50% {
-webkit-transform: scale(1);
    transform: scale(1);
}

100% {
-webkit-transform: scale(1.1);
    transform: scale(1.1);
}
}


/*faq ends*/

/*footer starts*/
.footer{
    width: 100%;
    height: 500px;
    background-color:#eeeeee;
    margin-top: 5%;
}
.copyright{
    text-align: center;background: #F69323;
    color: white;
}
/*footer ends*/



/*fixed icons starts*/
.whatsappbox {
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 12%;
    left: 15px;
    background-color: #25d366;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    animation: shake 0.3s infinite alternate;
}

.whatsappbox a i {
    color: white;
    position: absolute;
    top: 25%;
    left: 27%;
}

@keyframes shake {
    0% {
        left: 15px;
    }
    25% {
        left: 18px;
    }
    50% {
        left: 22px;
    }
    100% {
        left: 25px;
    }
}

.scrollox {
    position: fixed;
    width: 35px;
    height: 35px;
    bottom: 2%;
    border-radius: 2px;
    left: 15px;
    background-color: #F69323;
    text-align: center;
    font-size: 20px;
    z-index: 100;
}

.scrollox a i {
    color: white;
    position: absolute;
    top: 25%;
    left: 32%;
}

/*fixed icons ends*/